<h1 class="mb-5">Главная</h1>
<div class="row g-0 d-flex justify-content-center justify-content-md-start gap-3">
	<button type="button" class="btn btn-main">Сегодня</button>
	<button type="button" class="btn btn-main">Неделя</button>
	<button type="button" class="btn btn-main">Месяц</button>
	<button type="button" class="btn btn-main">Год</button>
	<button type="button" class="btn btn-main">Все</button>
	<button type="button" class="btn btn-main">Интервал</button>
	<fieldset class="input-wrap d-flex align-items-center gap-2">
		<label for="inputFromDate">с</label>
		<input type="date" class="d-inline-block" id="inputFromDate"></input>
	</fieldset>
	<fieldset class="input-wrap d-flex align-items-center gap-2">
		<label for="inputToDate">по</label>
		<input type="date" class="d-inline" id="inputToDate"></input>
	</fieldset>
</div>
<div class="row d-flex flex-column align-items-center flex-lg-row g-0 mt-5 pt-4">
	<figure class="col-6 d-flex flex-column align-items-center">
		<h2 class="text-center">Доходы</h2>
		<div class="border-chart g-0 w-100 d-flex justify-content-center">
			<canvas id="revenuesChart" class="canvas-revenues"></canvas>
		</div>
	</figure>
	<figure class="col-6 d-flex flex-column align-items-center">
		<h2 class="text-center">Расходы</h2>
		<div class="g-0 w-100  d-flex justify-content-center">
			<canvas id="expensesChart" class="canvas-expenses"></canvas>
		</div>
	</figure>
</div>