<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация</title>
	<link rel="stylesheet" href="../styles/bootstrap.min.css">
</head>
<body class="">

<section class="login-content row m-1 d-flex justify-content-center align-content-center vh-100">
	<div class="login-box col-md-3 col-lg-4 col-xl-3 p-2">
		<figure class="logo text-center">
			<img src="../images/Logo.png" alt="Логотип">
		</figure>
		<h1 class="text-center mt-5 fs-2">Создайте аккаунт</h1>
		<form class="row g-3 p-2">
			<div class="input-group mb-0 p-0">
				<span class="input-group-text" id="basic-addon"><img src="../images/person.png" alt="person"></span>
				<input type="text" class="form-control" placeholder="ФИО"  aria-label="Username" aria-describedby="basic-addon">
			</div>
			<div class="input-group mb-0 mt-2 p-0">
				<span class="input-group-text" id="basic-addon1"><img src="../images/mail.png" alt="mail"></span>
				<input type="email" class="form-control" placeholder="Электронная почта"  aria-label="Username" aria-describedby="basic-addon1">
			</div>
			<div class="input-group mb-0 mt-2 p-0">
				<span class="input-group-text" id="basic-addon2"><img src="../images/lock.png" alt="lock"></span>
				<input type="password" class="form-control" placeholder="Пароль" aria-label="Username" aria-describedby="basic-addon2">
			</div>
			<div class="input-group mb-0 mt-2 p-0">
				<span class="input-group-text" id="basic-addon3"><img src="../images/lock.png" alt="lock"></span>
				<input type="password" class="form-control" placeholder="Подтверждение пароля" aria-label="Username" aria-describedby="basic-addon3">
			</div>
			<button type="button" class="btn btn-primary mt-4 w-100">Войти</button>
		</form>
		<p class="mt-2 mb-0">Уже есть аккаунт? <a href="#">Вход в систему</a></p>
	</div>
</section>

</body>
</html>