<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Редактирование категории доходов</title>
	<link rel="stylesheet" href="../../styles/bootstrap.min.css">
	<link rel="stylesheet" href="../../styles/revenues/revenues-edit.css">
</head>
<body>
	<main class="container-fluid w-100 p-0 position-relative">
		<div class="row w-100 p-0 g-0">
			<aside class="sidebar col-12 col-sm-4 col-md-3 col-lg-2 min-vh-100 border-2 border-end m-0 p-0 d-none d-md-flex flex-column flex-shrink-0">
				<figure class="text-center pt-5 pb-4 m-0">
					<img src="../../images/Logo.png" alt="logo" class=" img-fluid">
				</figure>
				<section class="menu pt-5 ps-3 pe-3 border-2 border-top h-75 d-flex flex-column justify-content-between">
					<div class="link-container ps-2">
						<a href="#" class="link-sidebar p-2 d-flex align-items-center rounded flex-grow-1"><img src="../../images/svg/house.svg" class="icon-link me-2 img-fluid" alt="home">Главная</a>
						<a href="#" class="link-sidebar p-2 d-flex align-items-center rounded flex-grow-1"><img src="../../images/svg/cash-coin.svg" class="icon-link me-2 img-fluid" alt="coin">Доходы & Расходы</a>
						<details class="details-link-drop">
							<summary class="p-2 position-relative rounded">Категории</summary>
							<a href="#" class="link-sidebar d-block p-2 rounded">Доходы</a>
							<a href="#" class="link-sidebar d-block p-2 rounded">Расходы</a>
						</details>
					</div>
					<p class="balance ps-2">Баланс: <span class="text-primary"><span class="balance-number">500</span>$</span></p>
				</section>
				<section class="person border-2 border-top">
					<figure class="d-flex align-items-center m-0 p-3">
						<img src="../../images/person-icon.png" alt="person-icon" class="img-fluid">
						<p class="user-name m-0 ms-3 w-100 text-truncate">Николай Устимов</p>
					</figure>
				</section>
			</aside>
			<!-- Скрытое меню для мобильных устройств -->
			<header class="d-md-none pt-3 pb-0 bg-light border-2 border-bottom">
				<div class="text-center">
					<img src="../../images/Logo.png" alt="logo" class="img-fluid">
				</div>
				<div class="text-center" id="mobileMenu">
					<nav class="nav d-flex justify-content-center">
						<a href="#" class="link-sidebar nav-link text-dark p-2 rounded">Главная</a>
						<a href="#" class="link-sidebar nav-link text-dark p-2 rounded">Доходы & Расходы</a>
						<details class="details-link-drop">
							<summary class="p-2 pe-4 position-relative rounded">Категории</summary>
							<a href="#" class="link-sidebar d-block p-2 rounded">Доходы</a>
							<a href="#" class="link-sidebar d-block p-2 rounded">Расходы</a>
						</details>
					</nav>
					<p class="balance pt-3 pb-3 m-0">Баланс: <span class="text-primary">500$</span></p>
					<section class="person border-2 border-top d-flex justify-content-center">
						<figure class="d-flex align-items-center m-0 p-3">
							<img src="../../images/person-icon.png" alt="person-icon" class="img-fluid">
							<p class="user-name m-0 ms-3 w-100 text-truncate">Николай Устимов</p>
						</figure>
					</section>
				</div>
			</header>

			<section class="col-12 col-sm-8 col-md-9 ms-auto me-auto ps-3 pe-3 pb-4 col-lg-10 section-content">
				<h1 class="mb-5 mt-2 mt-md-0">Редактирование категории доходов</h1>
				<div class="card-box d-flex flex-wrap gap-4">
					<div class="card border-0">
						<div class="card-body p-0 flex-grow-1">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Название..." value="Зарплата">
							</div>
							<div class="action d-flex flex-column flex-sm-row gap-2">
								<a href="#" class="btn btn-success">Сохранить</a>
								<a href="#" class="btn btn-danger">Отмена</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</body>
</html>