<h1 class="mb-5 mt-2 mt-md-0">Расходы</h1>
<div class="card-box d-flex flex-wrap gap-4">
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Еда</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Жильё</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Здоровье</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Кафе</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Авто</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Одежда</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Развлечения</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Счета</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <div class="card p-1">
    <div class="card-body flex-grow-1">
      <h4 class="card-title mb-3">Спорт</h4>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="/#/expenses-edit" class="btn btn-primary">Редактировать</a>
        <a href="#" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
  <a href="/#/expenses-add" class="btn btn-add-revenue border border-1">
    <img src="src/images/svg/plus-mini-1523-svgrepo-com.svg" alt="plus" width="15px"
         height="15px">
  </a>
</div>

<figure class="modal d-flex justify-content-center align-items-center w-100 h-100">
  <div class="p-4 rounded d-flex flex-column align-items-center gap-3 bg-light">
    <div class="modal-text p-0 m-0 text-center">
      <p class="p-0 m-0 fw-bold">Вы действительно хотите удалить категорию?</p>
    </div>
    <div class="modal-action d-flex gap-2">
      <button class="btn btn-success">Да, удалить</button>
      <button class="btn btn-danger">Не удалять</button>
    </div>
  </div>
</figure>