<h1 class="mb-5 mt-2 mt-md-0">Создание категории расходов</h1>
<div class="card-box d-flex flex-wrap gap-4">
  <div class="card border-0">
    <div class="card-body p-0 flex-grow-1">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Название...">
      </div>
      <div class="action d-flex flex-column flex-sm-row gap-2">
        <a href="#" class="btn btn-success">Создать</a>
        <a href="#" class="btn btn-danger">Отмена</a>
      </div>
    </div>
  </div>
</div>